/*
  Theme Name: Daily News
  Theme URL: http://demo.themeregion.com/newspress
  Author: ThemeRegion
  Author URI: http://www.themeregion.com
  Description: Daily News - Responsive Blog & News Template
  Version: 1.0
*/

/*=======================================================================
[Table of contents]
=========================================================================

#	Typography
#	Top bar section
#	Navigation
#	Main Content
#	Pagination
#	Lifestyle listing
#	News Details
#	404 error page
#	Index2, Index3, Index4

==========================================================================*/


/*========================
=======Typography=========
==========================*/

body{
	font-family: 'Signika Negative', sans-serif;
	font-size: 16px;
	color: #000000;
	background-color: #f2f3f5;
}


ul {
	list-style: none;
	margin:0;
	padding:0;
}

.navbar-nav li a:hover, 
.navbar-nav li a:focus {
	outline:none;
	outline-offset: 0;
	text-decoration:none;  
	color:#ed1c24;
	background: transparent;
}

a {
	color: #aeaeae;
	text-decoration: none;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

a:focus, 
a:hover {
	text-decoration: none;
	outline: none;
	color: #9c9c9c;
}

h1 {
	font-size:36px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:500;
	text-transform:capitalize;
}

.padding{	
	padding:90px 0;
}

.section {
	margin-bottom:30px;
}

.section-title {
	margin-top: 5px;
	padding-bottom: 0;
	position:relative;
	font-size:24px;
	text-transform:capitalize;	
	margin-bottom:15px;
}

.section-title, 
.section-title a{
	color:#525b6e;
}

.section-title a:hover{
	color:#ed1c24;
}

.btn-primary.btn-animated {	
	font-size: 12px;
	font-weight: 700;
	padding: 17px 47px;
	background-color:transparent;
	text-transform: uppercase;
	border-color: #fff;
	border-width:3px;
	border-style:solid;
	color:#fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
	overflow:hidden;
	webkit-box-shadow:none;
	box-shadow:none;
	outline:none;
	letter-spacing:2px;
}
 
.btn-primary.btn-animated:hover, 
.btn-primary.btn-animated:focus {
	background-color:transparent;
	outline:none;
	border:3px solid #a0d48c;
}

.btn-primary{
	background-color:#ed1c24;
	color:#fff;
	border:0;
	font-size:12px;
	font-weight:700;
	padding:10px 45px;
	outline:none;
	text-transform:uppercase;
}

.btn-primary:hover, 
.btn-primary:focus {
	background-color:#333;
	color:#fff;
	outline:none;
	border:0;
}

.parallax-section { 	
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	width: 100%;
	min-height:437px;
	color:#fff;
	position:relative;
}

.overlay-bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.form-control {
  height: 35px;
  padding:6px 12px;
  color: #000;
  border:2px solid #ececec;
  border-radius:2px;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
  background-color:#fff;
  font-weight:500;
}

.form-control:focus {
  outline: 0;
  -webkit-box-shadow:none;
  box-shadow:none;
  border:2px solid #ed1c24;
  background-color:#fff;
}

textarea.form-control {
    padding: 15px 20px;
	resize:none;
}

label {
	font-weight:400;
}

.form-group {
  margin-bottom: 20px;
}

.navbar-toggle {
	border: 1px solid #fff;
	margin-top: 9px;
}

.navbar-toggle .icon-bar {
	background-color: #384650;
}

.navbar-toggle, 
.navbar-fixed-top .navbar-toggle {
	border: 1px solid #384650;
}

.navbar-toggle .icon-bar, 
.navbar-fixed-top .navbar-toggle .icon-bar {
	background-color: #384650;
}

.image-bg {
	background-size: cover;
    background-repeat: no-repeat;
	color:#fff;
	position:relative;
}

.image-bg .section-title h1 {
	color:#fff;
}

.nav .open > a, 
.nav .open > a:focus, 
.nav .open > a:hover {
    border-color: inherit;
    background-color: inherit;
}
/*Magnific-popup overwrite CSS*/

.mfp-figure {
    background-color: #fff;
}

img.mfp-img {
	padding:12px;
}

.mfp-image-holder .mfp-close {
	top:-35px;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor:pointer;
}

.mfp-counter {
	right: 50%;
    color: #fff;
    top: 50px;
    margin-right: -20px;
}

/* Sticky Nav CSS*/


#navigation .sticky-nav {
	position: fixed;
    width: 100%;
    left: 0;
    top: -1px;
    z-index: 9999;
    background: #fff;
}
 
#navigation .sticky-nav #topbar {
	display:none;
}

.secondary-logo {
	display:none;
}

#navigation .sticky-nav .secondary-logo {
	display:block;
	position:absolute;
	left:15px;
	top:10px;
}

#navigation .sticky-nav .navbar-nav {
	margin-left:220px;
} 

#navigation .navbar{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-bottom:0;
}

/*dropdown*/
@media (max-width: 999px) {
	.navbar-nav .open .dropdown-menu {
		border: 0;
		float: none;
		width: auto;
		margin-top: 0;
		position: static;
		box-shadow: none;
		background-color: #fff;
	}

	
    #navigation .navbar-header {
        float: none;
    }
    
    #navigation .navbar-toggle {
        display: block;
    }
    
    #navigation .navbar-collapse.collapse {
        display: none !important;
    }
    
    #navigation .navbar-collapse.collapse.in {
        display: block !important;
  		overflow-y: auto !important;
    }
    
    /*Design for max-width: 1200px*/
    #navigation .navbar-collapse,
	#navigation .navbar-collapse .container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}


}

@media (min-width: 1000px) {
	/*Navbar Collapse*/
	#navigation .navbar-collapse {
		padding: 0;
	}
	
	#navigation .navbar-nav li, .dropdown {
		position:relative;
	}

	
	/*Navbar*/
	#navigation .navbar-nav {
		top: 2px;
	}
		
	/*Dropdown Menu*/
	#navigation .dropdown-menu { 
		padding:15px 0;
		min-width:160px;
		border-radius: 0; 
		z-index: 9999 !important;
		margin-top: -2px !important;
		background-color:#fff;
	}
	
	#navigation .language-dropdown .dropdown-menu {
		min-width:75px;
	}
	
	#navigation .language-dropdown.open > .dropdown-menu, 
	#navigation .navbar-nav > li.dropdown:hover > .dropdown-menu {
		display: block;
	}	

	#navigation .open > .dropdown-menu,
	#navigation-v1 .open > .dropdown-menu {
		display: none;
	}
	
	
}


#navigation .navbar-nav .mega-cat-dropdown, 
#navigation .navbar-nav .mega-dropdown {
	position:inherit;
}


#mainmenu .mega-cat-menu{
	background-color:#3a3a3a;
	padding:30px 0 45px 0;
	border: none;
	min-width:100%;
	border-radius: 0; 
	z-index: 9999 !important;
	margin-top: -2px !important;		
	left:-1px;
}

#mainmenu .sub-catagory {
	overflow:hidden;
}

#mainmenu .sub-catagory .section-title {
	color:#fff;
}

#mainmenu .sub-catagory ul {
	float:right;
	margin-top:-32px;
}

#mainmenu .sub-catagory ul li a{
	font-size:12px;
	text-transform:uppercase;
	color:#fff;
	padding:4px;
	z-index:1000;
	position:relative;
	border-bottom:2px solid transparent;
}

#mainmenu .sub-catagory ul li a:hover{
	border-bottom:2px solid #ed1c24;
	color:#fff;
}

#mainmenu .post {
	padding-top:0;
}

#mainmenu .post a:hover {
	color:#aeaeae;
}

#mainmenu .dropdown-menu> li> a{
	font-size:14px;
	text-transform:capitalize;
	padding:5px 20px;
}

.dropdown-menu>li>a {
	color:#aeaeae;
}

#mainmenu .mega-menu {
	min-width:100%;
	background-color:#f1f1f1;
	padding:35px 0;
}

#mainmenu .mega-menu h2 {
	font-size:16px;
	color:#999;
	font-weight:600;
}

#mainmenu .mega-menu ul {
	margin-left:0;
}

#mainmenu .mega-menu li a {
	display:block;
	padding:5px 0;
}


/*==============================
========= Top bar section=======
================================*/
#navigation {
	background-color:#fff;
}

#navigation .navbar .topbar  {
    border-bottom: 1px solid #eee;
}

#topbar {
	float:none;
}


.container-fluid>.navbar-header {
	margin-right:10px;
}

.navbar-brand {
	padding:9px 15px;
}

.homepage .navbar-brand {
	padding:13px 15px;
}

#navigation .container .navbar-brand {
	margin-left:-15px;
}

#topbar-right {
	float:right;
}

.language-dropdown, 
#date-time, 
#weather {
	display:inline-block;
	margin-left:20px;
	padding-left:20px;
	line-height:60px;
	color:#525b6e;
	font-size:14px;
}

.language-dropdown .dropdown-menu{
	border-radius:0;
	border-color:#ebecee;
	min-width:74px;
	text-align:center;
}

.language-dropdown a{
	color:#384650;
	text-transform:uppercase;
}

#topbar-right #weather img {
	max-width:61px;
}

#date-time, #weather {
	border-left:1px solid #ebecee;
}

.searchNlogin {
	float:right;
	position:relative;
	margin-right:-15px;
}

.searchNlogin li{
	float:left;
	padding:15px 20px;
	color:#aeaeae;
	cursor:pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.searchNlogin li:hover {
	color:#525b6e;
}

.user-section {
	float:right;
}

#mainmenu {
	padding-right:0;
    padding-left: 0;
	margin-left:-15px;
	margin-right:-15px;
}

.search{
	position: absolute;
	top: 0;
	z-index: 1;
	right: 107px;
	width: 0;
	opacity:0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.expanded .search {
	opacity:1;
	width: 300px;
}

.search-form{
	padding-left: 15px;
	height: 52px;
	font-size: 14px;
	font-weight: 300;
	outline: none;
	width: 100%;
	border: 1px solid #eee;
	background-color:#f9f9f9;
	border-right:0;
}

.expanded .search-icon {
	background-color:#f2f3f5;
	border-left-color:#f2f3f5;
	color:#525b6e;
}

#navigation .dropdown-menu.top-user-section, 
.dropdown-menu.top-user-section {
	padding: 0;
	border-top:1px solid #384650;
	position: absolute;
	right:14px;
	top:52px;
	min-width: 325px;
	background-color: #ffffff;
	z-index: 10;
	left:inherit;
}

.dropdown-menu.top-user-section {
	right:0;
}

.top-user-section a {
	color:#000;
	font-weight:600;
}

.top-user-section a:hover {
	color:#ed1c24;
}

.top-user-form {	
	padding: 30px;
	font-size:12px;
	overflow:hidden;
	cursor:default;
}

.create-account {	
	padding:15px 0px 12px;
	background-color:#f1f1f1;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight:300;
}

.input-group {
	margin-bottom:20px;
}

.top-user-form .input-group .form-control, 
.top-user-form .input-group-addon {
	background-color:#f1f1f1;
}
.top-user-form .form-control {
	padding:6px 0;
}

.top-user-form .btn {
	float:right;
	margin-top:10px;
	font-size:12px;
	text-transform:uppercase;
	padding:8px 30px;
	background-color:#ed1c24;
	color:#fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.top-user-form .btn:hover{
	background-color:#D21B22;
}

.top-user-form .reset-user {
	float:left;
	margin-top:16px;
}

.input-group-addon {
	background-color:#fff;
	border:0;
}

.input-group img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);

}

.form-control:active img, 
.input-group:hover img  {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.input-group .form-control {
	border:0;
}

#navigation .user-panel:hover .dropdown-menu.top-user-section {
	display:block;
}


/*==============================
========= Navigation ===========
================================*/

#mainmenu li a {
	font-weight:600;
}

.navbar {
	border-radius:0;
	border-bottom:1px solid rgba(0, 0, 0, 0.10);
}

#mainmenu li a:hover {
	color:#ed1c24;
}
 
/*==============================
========= Main Content==========
================================*/

.feature-post {
	position:relative;
}

.feature-post .post-content {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:25px 35px;
	z-index:1;
	color:#fff;	
	border-radius: 0 0 3px 3px;
	padding-top:50%;
	
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjc0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg3JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjkxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.20) 18%, rgba(0,0,0,0.42) 36%, rgba(0,0,0,0.85) 70%, rgba(0,0,0,0.95) 87%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.20) 18%,rgba(0,0,0,0.42) 36%,rgba(0,0,0,0.85) 70%,rgba(0,0,0,0.95) 87%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.20) 18%,rgba(0,0,0,0.42) 36%,rgba(0,0,0,0.85) 70%,rgba(0,0,0,0.95) 87%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}


.feature-post:hover .post-content {	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjc0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg3JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjkxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.13) 18%, rgba(0,0,0,0.33) 36%, rgba(0,0,0,0.74) 70%, rgba(0,0,0,0.91) 87%, rgba(0,0,0,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.13) 18%,rgba(0,0,0,0.33) 36%,rgba(0,0,0,0.74) 70%,rgba(0,0,0,0.91) 87%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.13) 18%,rgba(0,0,0,0.33) 36%,rgba(0,0,0,0.74) 70%,rgba(0,0,0,0.91) 87%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
}

.feature-post .entry-title a, 
.feature-post .entry-meta a, 
.feature-post .entry-title a:hover, 
.feature-post .entry-meta a:hover{
	color:#fff;
}

.entry-meta {
	font-size:12px;
}

.post {
	overflow:hidden;
	border-radius:3px;
	padding-top:30px;
	background-color:#fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.left-sidebar .post {
	border-top:1px solid #eee;
	padding-top:25px;
}

.left-sidebar .post:first-child {
	border-top:0;
	padding-top:0;
}

.left-sidebar .post-content {
	padding:25px 0 10px 0;
}

.middle-content .post-content {
	padding:30px 0 0;
}

.site-content .middle-content {
	padding-bottom:0;
}

.middle-content .post:first-child {
	padding-top:0;
}

.middle-content .section {
	padding-bottom:15px;
	border-bottom:1px solid #eee;
}

.middle-content .section:last-child {
	padding-bottom:0;
	margin-bottom:0;
	border-bottom:0;
}

.post.feature-post {
	background-color:inherit;
}

.post .entry-title {
	font-size:18px;
	text-transform:capitalize;
	margin-top:10px;
}

.post-content .video-icon {
	font-size:70px;
	text-align:center;
	margin-bottom:50px;
}

.post-content .video-icon a{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.post-content .video-icon a:hover {	
	color:#fff;
}

.catagory {
	position:absolute;
	top:20px;
	right:20px;
	z-index:2;
}

.catagory a{
	color: #fff;
	display: block;
	padding: 3px 12px;
	font-size: 12px;
	text-transform: uppercase;
	background-color:#ed1c24;
}

.feature-post img {
	border-radius:3px;
}

.post img, .post-content, .entry-meta, .entry-title {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.owl-controls .owl-pagination {
	float:right;
	margin-top:-40px;
	position:relative;
	padding-right:25px;
}

.owl-theme .owl-controls .owl-pagination {
	text-align:center;
}
.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 8px;
	height: 8px;
	margin: 5px;
	background-color:#fff;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background-color:#ed1c24;
}

#main-slider{
	height:450px;
	overflow:hidden;
}

#main-slider .owl-item, 
#main-slider .feature-post{
	height:450px;
	border-radius:0;
	margin-top:0;
}


#main-slider .feature-post .catagory{
	position:initial;
	display:inline-block;
	margin-bottom:5px;
}

#main-slider .feature-post .entry-title{
	font-size:20px;
	line-height:25px;
}

#main-slider .feature-post .post-content{
	border-radius:0;
} 

.add.featured-add {
	margin-top:30px;
}

.add {	
	position:relative;
	margin:30px 0;
	text-align:center;
}

.google-add, 
.google-add:hover {
	text-align:center;
	background-color:transparent;
	border-bottom:0;
}

.google-add .add {
	display:inline-block;
	max-width:728px;
	height:90px;
	margin-top:10px;
}

.add img {
	border-radius:3px;
	display:inline-block;
}

.middle-content, 
.left-sidebar{
	padding:25px;
	background-color:#fff;
}

#latest-news .post{
	margin-right:30px;
	position:relative;
}

.latest-news-wrapper {
	margin-right:-30px;
	margin-top:5px;
	margin-bottom:5px;
}

.post-content {
	padding:30px;
}

.post-content i {
	margin-right:5px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.post-content .entry-meta li:hover i {
	color:#ed1c24;
}

#latest-news {
	position:relative;
}

.post.medium-post .entry-title {
	text-transform:initial;
	font-size:16px;
	line-height:1.3;
}

.entry-title a, .entry-meta a {
	color:#000;
}

.entry-title a:hover{
	color:#9c9c9c;
}

#latest-news .owl-controls .owl-pagination {
	position:absolute;
	top:21px;
	right:3px;
	text-align:right;
}

#latest-news .owl-controls .owl-page span {
	background-color:#c2c3c4;
	margin:3px;
}

#latest-news .owl-controls .owl-page.active span, 
#latest-news .owl-controls.clickable .owl-page:hover span {
	background-color:#ed1c24;
}

.latest-news-wrapper .section-title:after {
	margin-right:80px;
}

#latest-news:hover .post img{
	opacity:0.6;
}

#latest-news .post:hover img{
	opacity:1;
}

.section {
	position:relative;
}

.cat-menu {
	position:absolute;
	top:10px;
	right:0;
}

.section > .cat-menu {
    visibility: hidden;
}

.section:hover > .cat-menu {
    visibility: visible;
}

.cat-menu a {
	font-size:12px;
	text-transform:uppercase;
	padding-bottom:6px;
	color:#525b6e;
	border-bottom:2px solid transparent;
}

.cat-menu .active a, .cat-menu a:hover {
	border-bottom:2px solid #ed1c24;
}

.list-post li{
	border-top:1px solid #eee;
}

.list-post li a{
	display:block;
	padding:17px 0;
	color:#000;
}

.list-post li a:hover{
	color:#9c9c9c;
}

.list-post li a i {
	float:right;
}

.list-post li a:hover i{
	color:#ed1c24;
}

.small-post .post-content {
	padding:20px 0;
}

.post.small-post .entry-title {
    font-size: 12px;
	line-height:17px;
	margin-top:5px !important;
}

.entry-content {
	color:#888;
	font-size:14px;
	font-weight: 300;
}

.left-content .post .entry-title {
	margin-bottom:20px;
	margin-top:12px;
}

#photo-gallery {
	background-color:#fff;
}

#photo-gallery .item h2 {
	font-size:18px;
	padding:30px 0;
	margin-top:0;
	margin-bottom:10px;
}

#photo-gallery .item h2 a {
	color:#000;
}

#photo-gallery .item h2 a:hover {
	color:#aeaeae;
}

.gallery-indicators {
	position: inherit;
	width: 100%;
	left: 0;
	margin-left: 0;
	text-align:left;
	padding:5px 0;
	margin-bottom:0;
}

.gallery-indicators li, 
.gallery-indicators li.active {
	height:40px;
	width:40px;
	border-radius:4px;
	margin:3px;
}

.gallery-indicators li {
	opacity:0.4;
}

.gallery-indicators li.active, 
.gallery-indicators li:hover {
	opacity:1;
}

.gallery-turner {
	position:absolute;
	right:7px;
	bottom:37px;
	font-size:25px;
	z-index:50;
}

.gallery-turner a {
	margin:5px;
}

.gallery-turner a:hover {
	color:#ed1c24;
}

.post img, 
#photo-gallery .item img {
	width:100%;
}


/*=========Carousel Fade==========*/

.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	background-repeat: no-repeat;
	background-size: cover;
}

.carousel-fade .carousel-inner .active {
	opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}

.carousel-fade .carousel-control {
	z-index: 2;
}

.health-feature {
	margin-bottom:25px;
}

.left-content .post.medium-post .entry-title {
	margin-bottom:0;
}

.health-section .entry-header, 
.health-section .post-content {
	width:50%;
	float:left;
}

.health-feature .post-content {
	padding:25px;
}

.box-width .health-feature .post-content {
	padding:0 25px;
}

.health-feature .post .entry-title {
	line-height:25px;
}

.health-section .small-post .entry-header {
	max-width:100px;
	float:left;
}

.health-section .small-post .entry-title {
	text-transform:initial;
}

.health-section .small-post .post-content{
	padding:15px;
	width:56%;
	float:left;
} 


.health-section .post {
	border-bottom:1px solid #eee;
	padding-bottom:30px;
}

.health-section .post:last-child {
	border-bottom:0;
	padding-bottom:0;
}

.football-result .featured-result {
	background-image:url(../images/others/league-bg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-color:#2f5088;
	color:#fff;
	text-align:center;
	padding:30px 20px;
}

.football-result .featured-result h2{
	margin-top:0;
	margin-bottom:20px;
	font-size:14px;
	text-transform:uppercase;
}

.featured-result .verses {
	font-size:24px;
	text-transform:uppercase;
	display:block;
	margin-bottom:10px;
}

.featured-result .match-result {
	font-size:24px;
}

.league-result {
	background-color:#fff;
	text-align:center;
}

.league-result ul li {
	border-bottom:1px solid #f2f3f5;
	padding:25px;
}

.league-result img {
	display:inline-block;
	margin-top:-3px;
}

.league-result span {
	font-size:16px;
	text-transform:uppercase;
	margin-top:5px;
}

.league-result .col-xs-4 {
	padding-left:0;
	padding-right:0;
}

.video-section .video-catagory {
	margin-top:-5px;
	margin-bottom:-5px;
	font-size:11px;
	text-transform:uppercase;
}

.video-post-list .post, .widget .post-list .post {
	max-height:100px;
	padding-top:0;
}

.video-post-list .entry-header, 
.widget .post-list .entry-header{
	float:left;
	width:40%;
}

.video-post-list .entry-thumbnail, 
.widget .post-list .entry-thumbnail{
	height:100px;
}

.video-post-list .post-content, 
.widget .post-list .post-content{
	float:left;
	width:60%;
	padding:20px 15px;
}

.stock-exchange {
	background-color:#fff;
	overflow:hidden;
	margin-top:30px;
	font-size:14px;
	padding-bottom:10px;
}

.stock-exchange-zone {
	background-image:url(../images/others/stock-bg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-color:#00aeef;
	text-align:center;
	padding:30px;
}

.stock-exchange-zone img {
	display:inline-block;
}

.stock-header{
	padding:12px 25px;
	border-bottom:1px solid #f2f3f5;
}

.com-details .col-xs-4 {
	padding-left:0;
	padding-right:0;
}

.com-details {
    border-bottom: 1px solid#f2f3f5;
    padding: 12px 25px;
	color:#9c9c9c;
}

.com-details:last-child {
	border-bottom:0;
}

.com-details i {
	margin-left:12px;
}

.com-details .fa-caret-up {
	color:#00a651;
}

.com-details .fa-caret-down {
	color:#ed1c24;
}

.social-icons li {
	margin-right:12px;
}

.social-icons li:last-child {
	margin-right:0;
}

.social-icons a i{
	color:#fff;
	font-size:24px;
	text-align:center;
	display:block;
	height:30px;
	width:30px;
	line-height:30px;
	border-radius:4px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.social-icons a .fa-facebook{
	background-color:#4968a9;
}

.social-icons a .fa-twitter{
	background-color:#00aeef;
}

.social-icons a .fa-google-plus{
	background-color:#d9232d;
}

.social-icons a .fa-linkedin{
	background-color:#0072bc;
}

.social-icons a .fa-youtube{
	background-color:#ed1c24;
}

.social-icons a .fa-pinterest{
	background-color:#CB2027;
}

.social-icons a:hover .fa-facebook{
	background-color:#456098;
}

.social-icons a:hover .fa-twitter{
	background-color:#039cd5;
}

.social-icons a:hover .fa-google-plus{
	background-color:#c2242c;
}

.social-icons a:hover .fa-linkedin{
	background-color:#025e9a;
}

.social-icons a:hover .fa-youtube{
	background-color:#ce1b22;
}

.widget {
	margin-bottom:30px;
}

.widget .post-list {
	background-color:#fff;
}

.widget .post-list li {
	border-top:1px solid #f2f3f5;
	padding:25px;
}

.widget .post-list .post {
	border-bottom:0;
	margin-top:0;
}

.widget .post-list .small-post .post-content {
	padding:0 0 0 15px;
}

.weather-widget {
	background-color:#fff;
	text-align:center;
	padding:25px 35px 65px 35px;
}

.weather-widget img {
	margin-left:10px;
}

.weather-widget span {
	display:block;
}

.weather-widget .weather-type {
	margin-top:-20px;
	color:#b4b4b4;
	text-transform:uppercase;
	font-size:12px;
}

.weather-widget .weather-temp {
	font-size:60px;
	font-weight:700;
	color:#525b6e;
}

.weather-widget .weather-date {
	text-transform:uppercase;
	font-size:14px;
}

.weather-widget .weather-region {
	font-size:12px;
	margin-bottom:35px;
}

.weather-widget .weather-humidity {
	float:left;
	background:url(../images/others/weather2.png)left center no-repeat;
	padding-left:25px;
}

.weather-widget .weather-wind {
	float:right;
	padding-left:30px;
	background:url(../images/others/weather1.png)left center no-repeat;
}

.widget .nav-tabs {
	margin-bottom:30px;
	background-color:#fff;
}

.widget .tab-content ul li {
	border-bottom:1px solid #f2f3f5;
}

.widget .tab-content ul li:last-child {
	border-bottom:0;
}
.widget .tab-content ul li .post {
	margin-top:0;
	padding-top:0;
	border-bottom:0;
}

.widget .video-post, 
.widget .medium-post {
	padding-top:0;
	margin-bottom:25px;
}

.widget .video-post:last-child {
	margin-bottom:0;
}

.widget .comment-list> li {
	border-top:1px solid#eee;
}

.widget .comment-list li:first-child{
	border-top:0;
}

.widget .comment-list .small-post {
	padding-top:0;
}

.widget .comment-list .small-post .post-content {
    padding: 15px 30px;
}

.comment-list .small-post .entry-meta a {
	color:#aeaeae;
}

.comment-list .small-post .entry-meta a:hover {
	color:#000;
}
 
.footer-top{
	background-color:#fff;
	padding-top:30px;
	padding-bottom:30px;
	border-top:1px solid #f2f3f5;
	border-bottom:1px solid #f2f3f5;
}

.footer-top ul li {
	margin-right:25px;
}

.footer-top ul li{
	display:inline-block;
	line-height:27px;
}

.footer-top ul li a {
	color:#333;
}

.footer-top .social-icons li a i{
	display:inline-block;
	font-size:18px;
	background-color:#27292a;
	line-height:30px;
	margin-right:10px;
}

.footer-top .social-icons a:hover .fa-facebook{
	background-color:#4968a9;
}

.footer-top .social-icons a:hover .fa-twitter{
	background-color:#00aeef;
}

.footer-top .social-icons a:hover .fa-google-plus{
	background-color:#d9232d;
}

.footer-top .social-icons a:hover .fa-linkedin{
	background-color:#0072bc;
}

.footer-top .social-icons a:hover .fa-youtube{
	background-color:#ed1c24;
}

.footer-top .social-icons a:hover .fa-pinterest{
	background-color:#CB2027;
}

.logo-icon {
	border-top:1px solid #f2f3f5;
	padding:20px 0;
	position:relative;
}

.logo-icon:before, 
.logo-icon:after {
	position:absolute;
	content:"";
	top:50%;
	height:1px;
	width:140px;
	background-color:#d9dadb;
	left:50%;
}

.logo-icon:before {
	margin-left:-180px;
}

.logo-icon:after {
	margin-left:40px;
}

.logo-icon img {
	display:inline-block;
}

.footer-menu {
	background-color:#27292a;
	text-align:center;
	border-bottom:1px solid #1a1b1c;
}

.footer-menu .navbar-nav {
	display:inline-block;
	float:none !important;
	padding:25px 0 20px 0;
}

.footer-menu .navbar-nav li a{
	font-size:11px;
	text-transform:uppercase;
	color:#fff;
	letter-spacing:2px;
	padding:10px;
}

.bottom-widgets {
	background-color:#27292a;
	padding:50px 0;
	color:#fff;
}

.bottom-widgets .widget h2 {
	margin-bottom:25px;
	font-size:16px;
	text-transform:uppercase;
}

.bottom-widgets .widget ul{
	float:left;
	margin-right:20px
}

.bottom-widgets .widget ul:last-child {
	margin-right:0;
}

.bottom-widgets .widget li a {
	padding:5px;
	display:block;
	font-size:14px;
}

.bottom-widgets .widget li a:hover{
	color:#fff;
}

.footer-bottom {
	background-color:#1f2021;
	color:#fff;
	padding-top:20px;
	padding-bottom:10px;
}

.footer-bottom a {
	color:#ed1c24;
	font-weight:700;
}

.footer-bottom a:hover {
	color:#fff;
}


/* lifestyle listing */

.listing-news .entry-header, 
.listing-news .post-content {
	float:left;
}

.listing-news .entry-header {
	width:55%;	
} 

.listing-news .post-content {
	width:45%;
	padding:40px 30px;
}

.listing-news .post-content .entry-title {
	margin-bottom:25px;
}

.listing-news .post {
	max-height:255px;
}

/* news details */
.page .navbar-header {
	position:absolute;
	left:15px;
	top:0;
	width:100%;
	z-index:10;
}

.details-news .entry-meta {
	margin-bottom:25px;
	margin-top:10px;
}

.details-news .entry-meta .posted-by a{
	text-transform:uppercase;
}

.details-news .entry-meta .posted-by a:hover, 
.comments-wrapper .media-body h2 a:hover, 
.comments-wrapper .media-body .replay {
	color:#ed1c24;
}

.details-news .entry-title {
	font-size:32px;
	font-weight:700;
}

.details-news .entry-thumbnail img {
	padding:0 30px;
}

#newsdetails, 
#news-listing {
	margin-top:50px;
}

iframe {
	border:0;
}

.details-news .entry-thumbnail iframe {
	width:100%;
	height:450px;
	padding:0 30px;
	border:0;
}

#newsdetails .site-content {
	margin-bottom:30px;
}

#newsdetails .related-news {
	background-color:#fff;
	padding:30px 30px 0px;
	overflow:hidden;
}

.related-news .post-content {
	padding:30px 0;
}

.related-news {
	margin-right:-30px;
}

.related-news-section {
	overflow:hidden;
}

.related-news .post {
	padding-top:0;
	margin-right:30px;
}

#newsdetails .news-tags {
	margin-top:25px;
}

#newsdetails .news-tags span {
	margin-right:5px;
}

#newsdetails .news-tags span, 
#newsdetails .news-tags ul {
	display:inline-block
}

#newsdetails .news-tags ul li {
	padding-left:2px;
	padding-right:2px;
}

#newsdetails .news-tags ul li a {
	color:#888;
	font-weight:600;
}

.post-inner-image {
	margin-top:40px;
	margin-bottom:40px;
}

.share-link {
	margin-top:35px;
	margin-bottom:10px;
}

.comments-wrapper {
	margin-top:65px;
	font-size:14px;
	color:#888888;
}

.comments-wrapper .media-list {
	margin-bottom:70px;
}

.comments-wrapper .media {
	background-color:#fff;
	padding:15px 30px 30px;
	border-radius:4px;
}

.media {
	margin-top:30px;
}

.comments-wrapper .media .media-object {
	height:35px;
	width:35px;
	border-radius:100%;
	background-color:#ddd;
}

.comments-wrapper .media .media-left {
	padding-top:15px;
	padding-right:15px;
}

.comments-wrapper .media-body h2, 
.comments-wrapper .media-body h3{
	display:inline-block;
	margin-right:10px;
	margin-bottom:15px;
}

.comments-wrapper .media-body h2 {
	font-size:18px;
} 

.comments-wrapper .media-body h3 {
	font-size:14px;
	
}

.comments-wrapper .media-body h2 a, 
.comments-wrapper .media-body h3 a:hover {
	color:#000;
}

.comments-wrapper .media-body .replay:hover {
	color:#888;
}

.comments-wrapper .media.media-child {
	margin-top:10px;
	margin-left:150px;
}

#comment-form {
	background-color:#fff;
	padding:40px;
	margin-bottom:70px;
	border-radius:3px;
}

#comment-form button.btn-primary{
	display:inline-block;
	margin-top:15px;
}


#news-listing .middle-content .post-content {
    padding: 30px 0;
}


#news-listing .middle-content .post {
	height:300px;
}

.medium-post .entry-thumbnail iframe {
	height:167px;
	width:100%;
}

.load-more {
	margin-top:30px;
}

.load-more .btn-primary {
	font-size:16px;
	padding:12px
}

/* 404 error page */

.error-page {
	padding-top:90px;
	padding-bottom:50px;
	color: #5c5c5c;
	background-color:#fff;
	font-size:25px;
}

.error-page .logo{
	margin-bottom:75px;
}

.error-content img{
	margin:35px 0;
	display:inline-block;
}

.error-content h1{
	font-size: 158px;
	line-height:140px;
}

.error-content h2{
	font-size: 50px;
	font-weight:600;
	text-transform:uppercase;
	margin-top:0;
}


.error-content .btn-primary {
	margin-top:25px;
	margin-bottom:60px;
	padding:20px 50px;
	letter-spacing:2px;
	font-size:20px;
}

.error-page .copyright{
	color:#5c5c5c;
	font-size:18px;
}


/* index Box layout */

.box-layout {
	background-image:url(../images/others/box-bg.png);
	background-repeat:repeat;
}

.box-width {
	max-width:1170px;
	margin:35px auto;
	background-color:#fff;
}

#main-wrapper {
	background-color: #f2f3f5;
	border-left:1px solid #e4e4e4;
	border-right:1px solid #e4e4e4;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.175);
    box-shadow: 0 0 3px rgba(0,0,0,.175);
}

span.badge {
	padding:4px 8px;
	margin-left:5px;
	background-color:#ed1c24;
}






