@font-face {
    font-family: 'iskrabold';
    src: url('../fonts/iskra-bold-webfont.woff2') format('woff2'),
         url('../fonts/iskra-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iskrabold_italic';
    src: url('../fonts/iskra-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/iskra-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iskraitalic';
    src: url('../fonts/iskra-italic-webfont.woff2') format('woff2'),
         url('../fonts/iskra-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iskralight';
    src: url('../fonts/../fonts/iskra-light-webfont.woff2') format('woff2'),
         url('../fonts/iskra-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iskralight_italic';
    src: url('../fonts/iskra-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/iskra-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iskramedium';
    src: url('../fonts/iskra-medium-webfont.woff2') format('woff2'),
         url('../fonts/iskra-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iskramedium_italic';
    src: url('../fonts/iskra-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/iskra-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iskraregular';
    src: url('../fonts/iskra-regular-webfont.woff2') format('woff2'),
         url('../fonts/iskra-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iskrathin';
    src: url('../fonts/iskra-thin-webfont.woff2') format('woff2'),
         url('../fonts/iskra-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iskrathin_italic';
    src: url('../fonts/iskra-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/iskra-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'iskraultra_bold';
    src: url('../fonts/iskra-ultrabold-webfont.woff2') format('woff2'),
         url('../fonts/iskra-ultrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iskraultra_bold_italic';
    src: url('../fonts/iskra-ultrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/iskra-ultrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iskraultra_thin';
    src: url('../fonts/iskra-ultrathin-webfont.woff2') format('woff2'),
         url('../fonts/iskra-ultrathin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'soleilbold';
    src: url('../fonts/soleil-bold-webfont.woff2') format('woff2'),
         url('../fonts/soleil-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'soleilbook';
    src: url('../fonts/soleil-book-webfont.woff2') format('woff2'),
         url('../fonts/soleil-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'soleillight';
    src: url('../fonts/soleil-light-webfont.woff2') format('woff2'),
         url('../fonts/soleil-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'soleilregular';
    src: url('../fonts/soleil-regular-webfont.woff2') format('woff2'),
         url('../fonts/soleil-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: "soleilbook", Helvetica, Arial, sans-serif;
}
strong {
  font-family: 'iskramedium', sans-serif;
    font-weight: normal;
}
p {
  font-size: 14px;
  line-height: 20px;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #d5015d;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #c31e66;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "iskralight", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
h4 strong, h5 strong, h6 strong {font-family: 'iskramedium'; font-weight: normal;}
.img-centered {
  margin: 0 auto;
}
::-moz-selection {
  text-shadow: none;
  background: #c31e66;
}
::selection {
  text-shadow: none;
  background: #c31e66;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #c31e66;
}
ol {
    list-style-position: outside;
    padding-left: 13px;
}
ol li {
    padding-left: 5px;
}
#content p, ol {
    color: #666;
}
.iskralight{
  font-family: 'iskralight';
}
.iskramedium{
  font-family: 'iskramedium';
}
.soleilregular{
  font-family: 'soleilregular';
  color: #B8B8B8;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: #000;
  background-color: #f4dd64;
  border-color: #f4dd64;
  font-family: "soleilbold", Helvetica, Arial, sans-serif;
  border-radius: 50px;
}
.btn-line {
  color: white;
  background: transparent;
 border: 2px solid rgba(255, 255,255, 0.3);
  font-family: "soleilbold", Helvetica, Arial, sans-serif;
  border-radius: 30px;
  font-size: 15px;
  padding: 8px 25px 13px 25px;
    vertical-align: middle;
}
.btn-line:hover,
.btn-line:focus,
.btn-line:active,
.btn-line.active,
.open .dropdown-toggle.btn-xl {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn-xl .badge {
  color: #f4dd64;
  background-color: white;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
    width: 100%;
  max-width: 100%;
  height: auto;
}
.navbar-custom {
  background-color: #fff;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
    background: url(../images/logo-lovepink.jpg) no-repeat;
    text-indent: -1000px;
    width: 148px;
    height: 55px;
    display: block;
    margin-top: 7px;
    margin-left: 10px !important;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #000;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #fff;
  border-color: #c31e66;
  color: c31e66;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus, a.dropdown-toggle {
  background-color: #fff !important;
}
.navbar-custom .nav > li > a {
    font-family: 'iskraregular';
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333;
    padding: 25px;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
  color: #c31e66;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    border-radius: 0 !important;
    color: #c31e66;
}
@media (min-width: 768px) {
  .navbar-custom {
    border: none;
      -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    margin-top: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix .nav > li > a {
    padding: 15px 25px;
  }
  .navbar-custom.affix .navbar-brand {
    margin-top: 7px;
  }
}
header {
  background-image: url('../images/gambar-ibu-anak.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
}
#aboutbreastcancer {background-image: url('../images/aboutbreastcancer.jpg');}
#participate {background-image: url('../images/participate.jpg');}
#aboutlovepink {background-image: url('../images/aboutlovepink.jpg');}
#breastcancer-journey {background-image: url('../images/breastcancer-journey.png');}
#fundraise {background-image: url('../images/fundraise.png');}
#contact {background-image: url('../images/contact.jpg');}
.insidepage header .intro-text {padding-top: 370px; padding-bottom: 120px;}
header .intro-text {
    font-family: 'iskrathin';
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

/*****************
Gallery Slider
******************/
.gallery-wrap{
  margin-bottom:30px;
}

.slick-vertical .slick-list{
  margin-top:-10px;
  margin-bottom:-10px;
}
.slick-vertical .slick-slide.vert-col{
  margin-left:-10px;
  margin-right:-10px;
}
.slick-vertical .slick-slide.vert-col .thumb-wrap{
    width: 50% ;
    float: left;
    position: relative;
    overflow: hidden;
    padding:10px;
}
.slick-vertical .slick-slide.vert-col .thumb-wrap .img-padd{
  overflow: hidden;
  max-height:115px;
  border-radius: 4px;
}
.slick-vertical .slick-slide.vert-col .thumb-wrap img{
  height: 100%;
  max-height:115px;
}
.slick-vertical .slick-arrow {
    display: block !important;
    width: 100%;
    position: absolute;
    text-indent: -9999px;
    background: none;
    border: 0;
    width:34px;
    height:34px;
    right: 0;
    left: 0;
    margin: auto;
    z-index:1;
    opacity: 0;
    transition:opacity .3s ease;
}
.slick-vertical:hover .slick-arrow{
  opacity:1;
}
.slick-vertical .slick-arrow.slick-prev{
    top:20px;
    background: url(../images/arr-top.png)no-repeat;
}
.slick-vertical .slick-arrow.slick-next{
    bottom:20px;
    background: url(../images/arr-down.png)no-repeat;
}
.horz-slider .gall-wrap{
  max-height:250px;
  overflow:hidden;
  border-radius:4px;
}
.horz-slider .slick-arrow {
    display: block !important;
    width: 100%;
    position: absolute;
    text-indent: -9999px;
    background: none;
    border: 0;
    width:34px;
    height:34px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index:1;
}
.horz-slider .slick-arrow.slick-prev{
    left:20px;
    background: url(../images/arr-left.png)no-repeat;
}
.horz-slider .slick-arrow.slick-next{
    right:20px;
    background: url(../images/arr-right.png)no-repeat;
}
.slick-arrow:focus{
  outline: none;
}
.gallery-desc{
  font-size: 12px;
  margin-top:5px;
}
.gallery-desc .pink-text{
  font-family: 'iskraregular';
  font-size: 16px;
  margin-right:5px;
}




@media (min-width: 768px) {
  header .intro-text {
    padding-top: 370px;
    padding-bottom: 120px;
  }
  header .intro-text .intro-lead-in {
    font-size: 52px;
    line-height: 60px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-weight: normal;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
    .insidepage header .intro-text .intro-lead-in {font-size: 25px; line-height: 26px;}
}
/* DROPDOWN MENU */
@media (min-width: 768px) {
    .mega-dropdown {
        position: static !important;
        text-align: left;
    }
    .dropdown-toggle:hover {cursor: pointer;}
    .mega-dropdown-menu {
        padding: 0 20px;
        width: 100%;
        box-shadow: none;
        -webkit-box-shadow: none;
        text-align: right;
        background: #c31e66;
    }
    .mega-dropdown-menu > li {
        display: inline-block;   
    }
    .mega-dropdown-menu > li > ul {
        padding: 0;
        margin: 0;
    }
    .mega-dropdown-menu > li > ul > li {
        list-style: none;
    }
    .navbar-custom .nav .mega-dropdown li a:hover, .navbar-custom .nav .mega-dropdown li a:focus, .navbar-custom .nav .mega-dropdown li a.active {
        background: #d2578f;
    }
    .mega-dropdown-menu > li > ul > li > a {
        display: block;
        padding: 20px 5px;
        color: #fff;
    }
    .dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {color: #fff !important; padding: 15px;}
    .mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus { text-decoration: none; background: #d2578f;}
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {color: #c31e66; background: transparent;}
}
/* SECTION ALL */
section {padding: 50px 0;}
section.bannerads {padding: 25px 0;}
section h2.section-heading {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 20px;
}
section h3.section-subheading {
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 75px;
}
.featured-heading {
  margin: 15px 0;
  font-family: 'iskramedium', sans-serif;
    font-size: 20px;
}
#featured{
    background: #c2256f; /* Old browsers */
    background: -moz-linear-gradient(top, #c2256f 0%, #d02f7e 18%, #d02f7e 38%, #6b2f6a 82%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c2256f 0%,#d02f7e 18%,#d02f7e 38%,#6b2f6a 82%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c2256f 0%,#d02f7e 18%,#d02f7e 38%,#6b2f6a 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2256f', endColorstr='#6b2f6a',GradientType=0 ); /* IE6-9 */
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media (min-width: 768px) {
    #featured .col-md-6:first-child {border-right: 1px solid #bb6093; padding-right: 60px;}
    #featured .col-md-6:last-child {padding-left: 60px;}
}
#facts-ribbon {
    font-family: 'soleillight';
    text-align: center;
    background: #c31e66;
    color: #fff;
    font-size: 20px;
    padding: 16px 0;
}
#facts-ribbon strong {font-family: 'soleilbold';}

/* IG */
#igpict {text-align: justify;}
#igpict > div {
	width: 32%; /* Declare your value. Can be in relative units. */
	display: inline-block;
	vertical-align: top;

	/* IE fix. */
	*display: inline;
	zoom: 1;
	}
#igpict:after {
	content: "";
	width: 100%;
	display: inline-block;
    }
.box {
    display: inline-block;
	background-color: #c23822;
	box-shadow: 0px 0px 8px #c7c7c7;
    border: 8px solid #fff;
    overflow: hidden;
}
.box img {width: 100%;}
.box.fullheight {width: 100%; height: 275px;}
.box.fullheight img {height: 100%; width: auto;}
.box.half {width: 100%; height: 130px; margin-bottom: 10px;}

/*SCHEDULE*/
#schedule {
    background-color: #f3bfd6;
    background: 
        url(../images/bg-schedule.jpg) no-repeat bottom center,
        url(../images/bg-pat-schedule.jpg) repeat-x top center;
    background-size:auto;
}
.timeline-centered {
    position: relative;
    margin-left: 100px;
}
@media (min-width: 768px) {
    #schedule {
        height: 800px;
    }
}
    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }
    .timeline-centered:after {clear: both;}
    .timeline-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 1px;
        background: rgba(255,255,255,0.4);
        left: -14px;
        top: 20px;
        bottom: 20px;
        margin-left: -4px;
    }
    .timeline-centered.invert:before {
        background: #f4d4e6;
    }
    .timeline-centered .timeline-entry {
        position: relative;
        width: 100%;
        float: right;
        margin-bottom: 10px;
        clear: both;
    }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after { content: " "; display: table;}
        .timeline-centered .timeline-entry:after {clear: both;}
        .timeline-centered .timeline-entry.begin { margin-bottom: 0;}
        .timeline-centered .timeline-entry.left-aligned {float: left;}
        .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {margin-left: 0; margin-right: -18px;}
        .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {left: auto; right: -100px; text-align: left;}
        .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {float: right;}
        .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {margin-left: 0; margin-right: 70px;}
        .timeline-centered .timeline-entry .timeline-entry-inner {position: relative; margin-left: -22px;}

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -70px;
                text-align: right;
                padding: 4px 10px;
                border-radius: 4px;
                background: #c31e66;
                color: #fff;
            }
.timeline-centered.invert .timeline-entry .timeline-entry-inner .timeline-label.active, .timeline-centered.invert .timeline-entry .timeline-entry-inner .timeline-label:hover { background: #fcf2f7;}
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {display: block;}
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                    font-size: 16px;
                    font-family: 'iskramedium';
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                    font-size: 16px;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #c2256f;
                display: block;
                width: 8px;
                height: 8px;
                margin-top: 13px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                float: left;
            }
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                position: relative;
                padding: 6px 10px 8px 10px;
                margin-left: 20px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.active { background: #fff;}
            .timeline-centered.invert .timeline-entry .timeline-entry-inner .timeline-label.active { background: #fcf2f7;}
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 6px 9px 6px 0;
                    border-color: transparent;
                    left: 0;
                    top: 10px;
                    margin-left: -9px;
                }
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.active,.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:hover { background: #fff;transition: .3s ease;}
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.active:after {border-color: transparent #fff transparent transparent;}
            .timeline-centered.invert .timeline-entry .timeline-entry-inner .timeline-label.active:after {border-color: transparent #fcf2f7 transparent transparent;}
            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                color: #333;
                margin: 0;
                line-height: 1.428571429;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                margin-top: 15px;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                    font-family: 'iskramedium', sans-serif;
                    font-size: 16px;
                    
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
                        color: #303641;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label span {
                        color: #c31e66;
                    }
/* END SCHEDULE */
/* DOWNLOAD APP */
#download {color: #fff; background: #101010 url(../images/bg-downloadapp.jpg) no-repeat center top;}
#download p.h3{line-height: 36px; margin-bottom: 40px;}
#download p.h4 {font-size: 20px; font-weight: normal; margin-bottom: 40px;}

/* SHORTCUT */
#shortcut {background: #f7f7f7; padding: 30px 0 0px 0;}
#shortcut .media {
    background: #fff;
    padding: 40px 20px 30px 20px;
    margin-bottom: 30px;
    min-height: 180px;
}
#shortcut .media-object {padding: 0 15px;}
#shortcut .media-body {padding-right: 15px;}

/* SUPPORTED */
.clients h3 {font-size: 24px; margin: 42px 0 45px 0;}
.clients h3 strong {font-family: 'iskramedium', sans-serif; font-weight: normal;}
.clients .col-md-2.col-sm-12 {padding-right: 0;}
.clients .responsiveSlider{margin: 28px 0;}

/* FOOTER */
footer{background-color: #1D1D1D;}
footer .advertise{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
footer .container .col-md-3 ul {padding-left: 0; list-style: none;}
footer .container .col-md-3 ul li span{
	color: #fff;
	font-family: 'iskramedium';
	font-weight: 500;
	font-size: 14px;
}
footer .container .col-md-3 ul li .line-half-footer{
	border-bottom: 2px solid #C31E66;
	width: 12%;
	margin-top: 4%;
	margin-bottom: 5%;
}
footer .container .col-md-3 ul li a{
	font-family: 'soleilregular';
	font-weight: 400;
	color: #CCCCCC;
	font-size: 13px;
}
.social-media{margin-top: 50px;}
.title-social-media{
	font-family: 'iskraregular';
	font-size: 15px;
	color: #fff;
    margin-bottom: 20px;
}
.social-media ul{margin: 0 auto; list-style: none; text-align: center; padding-left: 0;}
.social-media li{
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-right: 5px;
}
.social-media li:last-child{margin-right: 0;}
.social-media li span{display: inline-block;}
.social-media a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.social-media ul:hover a{
    color: rgba(255, 255, 255, 0.6);
}
.social-media ul:hover a:hover{
    color: #ffffff;
}
.social-media li:nth-child(1) i{
    background: rgb(59, 89, 152);
    box-shadow: 0 0 0 0 rgba(59, 89, 152,0.6);
}
.social-media li:nth-child(2) i{
    background: rgb(0, 172, 238);
    box-shadow: 0 0 0 0 rgba(0, 172, 238, 0.6);
}
.social-media li:nth-child(3) i{
    background: rgb(105, 105, 106);
    box-shadow: 0 0 0 0 rgba(105, 105, 106, 0.6);
}
.social-media li:nth-child(4) i{
    background: rgb(234, 75, 36);
    box-shadow: 0 0 0 0 rgba(234, 75, 36, 0.6);
}
.social-media i{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    padding: 7px;
    border-radius: 50%;
    font-size: 18px;
    transition: box-shadow .4s ease-in-out;
    -moz-transition: box-shadow .4s ease-in-out;
    -webkit-transition: box-shadow .4s ease-in-out;
    -o-transition: box-shadow .4s ease-in-out;
}
.social-media a:hover i, .social-media a:active i{
    box-shadow: 0 0 0 25px transparent;
}
.social-media .icon + span{
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
    -moz-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
    -ms-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
    -o-transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
    transition: all 500ms cubic-bezier(1.000, 0.000, 1.000, 0.650);
}
.social-media a:hover span, .social-media a:active span{ opacity: 1;}
.copyrights{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}
.copyrights span{
	color: #939393;
	font-family: 'soleilregular';
	font-weight: 400;
	text-align: center;
}

/* END FOOTER */

/* PAGE OVERALL */
.breadcrumb > li + li:before { padding: 0 5px; content: "";}
/*.insidepage .navbar-fixed-top {position: relative;}*/
#topelement {border-bottom: 1px solid #f4f4f4; padding-top: 10px; padding-bottom: 25px; margin-bottom: 40px;}
#topelement2 {border-bottom: 1px solid #f4f4f4; margin-top: 50px; padding-bottom: 25px; margin-bottom: 40px;}
#menu-topelement {margin-bottom: 40px;}
#content p {color: #666;}

.headingPage {font-size: 45px; font-family: 'iskrabold', sans-serif; color: #333 !important;}
.headingPage i {font-family: 'iskraitalic';}
.headingPrgf {
    font-family: 'soleilregular';
    font-size: 19px;
    font-weight: normal;
    line-height: 25px;
    margin-top: 50px;
    color: #333 !important;
}
.line-color{
	border: 1px solid #c31e66;
	width: 100px;
	margin: 25px auto;
}
.line-color.left{
  border: 1px solid #c31e66;
  width: 100px;
  margin: 25px 0;
}
.breadcrumb {
    float: right;
    margin: 35px 0 0 0;
    background: #fff;
    text-align: right;
}
#secondelement {
    background: #f2f2f2; /* Old browsers */
    background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 61%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 61%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 61%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
    margin-top: 80px;
    padding: 60px 0 50px 0;  
}
#secondelement .thumbnailimg {
    margin-top: -130px;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}
.greybg {background: #ebebeb; padding: 30px 0;}
.margin-t0 {margin-top: 0;}
.margin-t50 {margin-top: 50px;}
.pink {color: #c31e66;}
.pink strong {font-family: 'iskramedium', sans-serif; font-weight: normal;}

.panel-default {border-color:transparent;}
.panel { box-shadow: none; background-color: transparent;}
.panel-default > .panel-heading {border: 1px solid #f4d4e6; background: #fff; color: #c31e66; border-radius: 4px; padding: 10px 20px;}
.panel-default > .panel-heading h4 {margin: 0; font-size: 20px;}
.panel-body {padding-top: 25px;}

#submenu {margin-top: -40px; border-bottom: 1px solid #f4f4f4; margin-bottom: 40px;}
#submenu a {padding: 10px 20px; display: inline-block;}
#submenu a:hover, #submenu a.active {background: #efc2db;}

/* ABOUT LOVEPINK */
.thumbnail.activity {
    padding: 0;
    border: 0;
    overflow: hidden;
    min-height: 385px;
}
.thumbnail.activity .caption {padding: 10px 15px 5px 15px;}

/* BLOG */
.thumbnail.blog {
   background: #fef7fb;
    border: none;
    padding: 15px 0;
    border-bottom: 4px solid #efc2db;
}
.thumbnail.blog img {margin-bottom: 15px;}
.thumbnail.blog .caption {padding: 0 20px; }
.thumbnail.blog .caption small {color: #888;}
.thumbnail.blog .caption h4 {font-size: 20px; margin-top: 5px;}
.thumbnail.blog .caption a {color: #d5015d;}

/* FORM */
@media (max-width: 768px) {
    form.rounded {padding-left: 15px; padding-right: 15px;}
}

.form-horizontal .control-label {text-align: left; font-weight: normal;}
.rounded {border: 1px solid #e7e7e7; background: #fff; border-radius: 4px; padding: 40px 0;}
.form-control {background: #f5f5f5; border-radius: 20px; border: none; box-shadow: none; height: 40px;}
.btn-default {
    background-color:#c31e66; 
    border: none; 
    color: #fff; 
    height: 40px; 
    border-radius: 35px; 
    font-family: 'soleilbold', sans-serif; 
    padding-left: 25px; 
    padding-right: 25px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-default:hover {background-color:#e73281; color: #fff;}

.box-icon {
    width: 80px;
    height: 80px;
    border: 1px solid #E7E7E7;
    border-radius: 3em;
    background-color: #fff;
    text-align: center;
    margin-top: -80px;
    z-index: 1;
    margin-bottom: 20px;
    padding-top: 15px;
}

.has-error .form-control {
    border: 1px solid #dc1069;
    background: #fff;
}
form .help-block {
    position: absolute;
    z-index: 99;
    top: 5px;
    right: 40px;
    text-align: right;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {color:#d2568c; }
textarea {min-height: 100px;}

.box-lorem{
	width: 100%;
	height: 60px;
	float: left;
	padding-left: 50px;
	padding-top:10px;
	margin-top: 20px;
	background-color: #dc4d8b;
}
.top-merchandise{
  margin-top: 40px;
}
.merchandise .col-md-5,.merchandise .col-md-6{
  padding: 0px;
}
.merchandise .col-md-5 img{
  width: 100%;
  height: auto;
}
.overlay-merchandise{
  background: rgba(195, 30, 102, 0.7);
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  opacity: 0;
  transition: opacity .3s ease;
}
.cart-merchandise:hover .overlay-merchandise{
  opacity: 1;
}
.box-merchandise h4{
  color: #fff;
  font-family: 'soleilbook';
  text-align: center;
  padding-top: 80px;
}
.box-merchandise h2{
  color: #fff;
  font-family: 'iskramedium';
  text-align: center;
}
.box-merchandise h3{
  color: #fff;
  font-family: 'iskraregular';
  text-align: center;
}
.box-merchandise button{
  width: 120px;
  height: 46px;
  background-color: #fff;
  border-color: #fff;
  color: #C31E66;
  font-family: 'soleilbold';
  font-size: 16px;
}
.box-merchandise button:hover{
  border: 1px solid #C31E66;
  background-color: #C31E66;
  color: #fff;
}
.overlay-merchandise.small{
  display: block;
  padding-top: 30%;
}

/* CSS breastcancer_journey_personal stories */
.iskrabold{
  font-family: 'iskrabold';
}
.iskraitalic{
  font-family: 'iskraitalic';
}
.active {
  color: #C31E66;
}
.non-active{
  color: #797979;
}
/* header */
.header1{
  background-image: url('../images/img6.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: white;
}
.header-kaleng{
  background-image: url(../images/kaleng.png);
}
/* end header */

/* section1 */
.section1 .content1{
  width: 90%;
  font-weight: 400;
}
.section1 .content1 h1{
  margin-left: 18.5%;
}
.section1 .content1 .pagination-section1{
  font-family:'soleilregular';
}
.menu5{
  float: left;
  padding-top: 7%;
  padding-bottom: 7%;
}
.menu6{
  float: left;
  padding-left: 5%;
  padding-bottom: 7%;
  padding-top: 7.5%;
}
.menu5 a li:hover, .menu6 a li:hover{
  color: #C31E66;
}
.menu5 a:hover, .menu6 a:hover{
  text-decoration: none;
}
.line-section1{
  border-bottom: 1px solid #F4F4F4;
}
.section1 .content2{
  width: 56%;
  text-align: center;
  padding: 50px 0px;
}
.section1 .content2 .paragraph1{
  margin-bottom: 4%;
  font-size: 16px;
  font-weight: bold;
  font-family: 'soleilregular';
}
/* end section1 */

/* section2 */
.section2{
  border: 1px solid #E2E2E2;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,fefefe+32 */
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #fefefe 32%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#fefefe 32%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#fefefe 32%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.gradien{
  border: 1px solid #E2E2E2;
  height: 700px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,fefefe+32 */
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #fefefe 32%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#fefefe 32%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#fefefe 32%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.gambar-zoom{
  /*width: 30px;*/
  /*height: 228px;*/
  /*border-top-right-radius: 4px;*/
  /*border-top-left-radius: 4px;*/
  /*-o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;*/
      display:inline-block;
    border:0;
    width:100%;
    position: relative;
    -webkit-transition: all 300ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 300ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 300ms ease-in;
    -moz-transform: scale(1);
    transition: all 300ms ease-in;
    transform: scale(1);   
  
}

.gambar-zoom:hover{
   /*box-shadow:  10px 2px 100px #000000;*/
    z-index: 2;
    -webkit-transition: all 300ms ease-in;
    /*-webkit-transform: scale(1.5);*/
    -ms-transition: all 300ms ease-in;
    /*-ms-transform: scale(1.5);   */
    -moz-transition: all 300ms ease-in;
    /*-moz-transform: scale(1.5);*/
    transition: all  300ms ease-in;
    /*transform: scale(1.5);*/
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  /*-webkit-border-radius: 36px 12px;*/
  /*-moz-border-radius: 10px / 12px;*/
  /*-webkit-box-shadow: 6px 6px 6px rgba(0,0,0,0.6);*/
  
}
.whit-container-footer{
  width: 83%;
}

.padding-zoom{
  padding: 0;
}
.section2 .content1{
  width: 55%;
  padding: 50px 0px;
}
.img-survivor{
  float: left;
  margin-left: 28px;
  margin-bottom: 20px;
  text-align: center;
}
.img-survivor h4{
  font-family: 'iskramedium';
  color: #C31E66;
  text-align: center;
  margin-bottom: 0px;
}
.img-survivor span{
  font-family: 'soleilregular';
  color: #7A7A7A;
  text-align: center;
}
.create-img-survivor{
  float: left;
  margin-left: 28px;
  width: 139px;
  height: 139px;
  border: 2px solid #F9EAF1;
  border-radius: 5em;
  text-align: center;
}
.create-img-survivor h4{
  float: left;
  width: 90px;
  font-family: 'soleilregular';
  color: #C31E66;
  margin-top: 50px;
  margin-left: 22px;
  text-align: center;
}
/* end section2 */

                    /* End CSS breastcancer_journey_personal stories */

                    /* CSS Contact */
/* header */
/* end header */


.section3{
  border: 1px solid #E2E2E2;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,fefefe+32 */
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #fefefe 32%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#fefefe 32%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#fefefe 32%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.section3 .content1{
  padding: 100px 0px;
}
.address span, .address h4 .address h5{
  font-family: 'soleilregular';
}
.box-message{ 
  width:100%;
  border:1px solid #E7E7E7;
  border-radius: 5px;
  padding: 30px 0px;
  background-color: #fff;
  z-index: 0;
}
/* end section1 */

/* section2 */
/* section2 */

                    /* End CSS Contact */

                    /* breastcancer_journey */

/* Section1 */

/* Section2 */
.section2-survivor{
  border: 1px solid #E2E2E2;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,fefefe+32 */
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #fefefe 32%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#fefefe 32%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#fefefe 32%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.section2-survivor .content1{
  width: 80%;
  padding: 50px 0px;
}
.section2-survivor .content1 .box-menu h3{
  font-family: 'iskramedium';
  color: #C31E66;
}
.section2-survivor .content1 .box-menu{
  float: left;
  width: 450px;
  margin-left: 30px;
}
.article p{
  margin-top: 10px;
}
.article h6{
  float: right;
  color: #C31E66;
  font-family: 'soleilregular';
}
.line-box-menu{
  width: 100%;
  border-bottom: 4px solid #EFC2DB;
  clear: both;
    margin-bottom: 20px;
}
/* Section2 */
                    /* End breastcancer_journey */

                    /* breastcancer journey personal stories share */
.section2-share-story{
  padding: 50px 0px;
  border: 1px solid #E2E2E2;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,fefefe+32 */
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f2f2 0%, #fefefe 32%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f2f2f2 0%,#fefefe 32%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f2f2f2 0%,#fefefe 32%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.section2-share-story .container{
  width: 60%;
}
.question-help{
  margin-top: 20px;
  margin-bottom: 90px;
}
.box-share-story{ 
  width:100%; 
  border:1px solid #E7E7E7;
  border-radius: 5px;
  background-color: #fff;
  z-index: 0;
  padding-bottom: 20px;
}
.select-option{
  width: 150px;
  height: 45px;
  margin-top: 10px;
  padding-left: 10px;
  border: 1px #F5F5F5;
  border-radius: 25px;
  color: #666666;
  background-color: #F5F5F5;
}
input[type="checkbox"],input[type="radio"] {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.btn-upload{
  background-color: #fff;
  border: 1px solid #C31E66;
  color: #C31E66;
}
.btn-upload:hover{
  border: 1px solid #C31E66;
}
.btn-submit:hover{
  background-color: #fff;
  border: 1px solid #C31E66;
  color: #C31E66;
}
                    /* End breastcancer journey personal stories share */

/***********
[vn] fix clapped ribbonmenu
*************/
.check{
  /*border: 1px solid;*/
  width: 380px;
  margin-top: 10px;
  float: left;
}
.navbar-nav > li.dropdown > .dropdown-menu {
    display: block;
    transform: translateY(-100%);
    transition: transform .3s ease;
    transform-origin: top;
    z-index: -1;
}
.navbar-nav > li.dropdown.open > .dropdown-menu {
    transform: translateY(0);
    transition: transform .3s ease;
    transform-origin: top;
}
.dropdown-menu.active-menu{
    transform: translateY(0) !important;
        z-index: -2 !important;
}
.navbar-custom .navbar-collapse{
  background:#fff;
  margin-left:-15px;
  margin-right:-15px;
}
@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0px;
  }
}
.pink-text{
  color:#c31e66;
}
ul.p-list{
  padding-left: 20px;
}
ul.p-list li{
  list-style: none;
  position: relative;
}
ul.p-list li:before{
    color: #f3b9d9;
    content: '\f111';
    font-family: 'FontAwesome';
    position: absolute;
    left: -20px;
    top: 5px;
    font-size: 8px;
}

@media screen and (min-width: 1279px){
  .section1 .content1 {
    /*border: 1px solid;*/
    width: 95%;
    font-weight: 400;
}
.section1 .content2 {
    width: 800px;
    text-align: center;
    padding: 50px 0px;
}
.section1 .content1 h1 { 
    margin-left: 40px;
    /*border: 1px solid;*/
    width: 380px;
    font-size: 50px;
}

.section1 .content2 .paragraph1 {
    /*border: 1px solid;*/
    margin-bottom: 4%;
    font-size: 22px;
    font-weight: bold;
    font-family: 'soleilregular';
}
.box-share-story{ 
  border: 1px solid;
  width: 100%;
  height: auto;
  border:1px solid #E7E7E7;
  border-radius: 5px;
  background-color: #fff;
  z-index: 0;
  padding-bottom: 20px;
}
.check{
  /*border: 1px solid;*/
  width: 400px;
  float: left;
}
.check-left{
  border: 1px solid;
  width: 20px;
  height: 20px;
  float: left;
}
/*.box-share-story {
    width: 100%;
    height: 750px;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    background-color: #fff;
    z-index: 0;
    padding-bottom: 20px;
}
  */
}
@media screen and (min-width: 1798px){
  .section1 .content1 h1 {
    margin-left: 400px;
    /*border: 1px solid;*/
    width: 380px;
    font-size: 50px;
}
}

@media screen and (min-width: 1461px){
  .section1 .content1 h1 {
    margin-left: 120px;
    /*border: 1px solid;*/
    width: 380px;
    font-size: 50px;
}
}

@media screen and (min-width: 1626px){
  .section1 .content1 h1 {
    margin-left: 20%;
    /*border: 1px solid;*/
    width: 380px;
    font-size: 50px;
}
}
@media screen and (min-width: 1758px){
  .section1 .content1 h1 {
    margin-left: 250px;
    /*border: 1px solid;*/
    width: 380px;
    font-size: 50px;
}
}
@media screen and (min-width: 1930px){
  .section1 .content1 h1 {
    margin-left: 330px;
    /*border: 1px solid;*/
    width: 380px;
    font-size: 50px;
}
}
/*@media (min-width: 768px){
.navbar-right {
    
    margin-right: -15px;
    }
}*/

.list-inline{
    text-align: center;
}
.list-inline .menu7 {
    display: inline-block;
    padding: ;
    text-align: center;
}
.list-inline .menu7 a{
  padding:10px 15px;
  display: block;
}
.list-inline .menu7 a:hover, .list-inline .menu7.active a{
  color: #C31E66;
  background-color: #EFC2DB; 
  text-decoration: none;
}
.box-input-text table tr td:first-child {
    padding-left: 25px;
}
.section2-survivor h3 {
    font-family: 'iskramedium';
    color: #c31e66;
}
.section2-survivor .col-md-4 {
    padding: 15px;
}
.border0{
  border:0 !important;
}
.margin0{
  margin:0 !important;
}